@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 22px;
}

#page {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34, 192, 195, 0.5) 0%, rgba(170, 45, 253, 0.384) 100%);
    #container {
        width: 75%;
        margin: 0 auto;
        padding: 60px 30px 30px;
        h1 {
            margin: 0 0 40px;
            text-align: center;
        }
        p {
            margin-bottom: 30px;
            font-size: 17px;
        }
        hr {
            border: 1px solid black;
            margin-bottom: 40px;
        }
        .image-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 70px;
            div {
                margin: 0 20px;
                img {
                    width: 100%;
                    height: auto;
                }
            }           
        }
        .video-container {
            display: flex;
            justify-content: center;
            iframe {}
        }
    }
    #image-overlay {
        #close {

        }
    }    
}

@media screen and (max-width: 768px){
    #page #container {
        width: 95%;
        padding: 60px 5px 30px;
        .image-container {
            flex-direction: column;
            div {
                margin-bottom: 30px;
            }
        }
    }
}